body {
	background-color: #F5EEE9 !important;
}

#brand-name {
	color: #F5EEE9 !important;
	font-family: Lobster,sans-serif !important;
  font-size: 2em;
}

.main-content {
  padding: 2em;
  margin: 2em;
}

h1,h2 {
  font-family: "Noto Sans JP",sans-serif !important;
  color: #514E4C !important;
}

p {
	font-family: "Noto Sans JP",sans-serif;
}

button {
	background-color: #9B470B !important;
	border-color: #9B470B !important;
}
